<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shrinker</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <style>
        .icon-group {
            position: absolute;
            top: 10px;
            right: 10px;
        }
        .welcome-container {
    text-align: center; 
    margin-top: 50px; 
}

.welcome-message {
    font-size: 24px;
    color: #333; 
    font-family: Arial, sans-serif; 
}

    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" href="#">URL Shrinker </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <form action="/logout" method="POST">
                            <button class="btn btn-danger my-2 my-sm-0" type="submit">Logout</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="welcome-container">
        <h1 class="welcome-message">Welcome <%= username %></h1>
    </div>
    
    
    <div class="container mt-5">
        <form action="/shortUrls" method="POST" class="mb-3">
            <div class="form-row">
                <div class="col">
                    <input type="url" class="form-control" name="fullUrl" placeholder="Enter Full URL" required>
                </div>
                <div class="col">
                    <input type="text" class="form-control" name="customAlias" placeholder="Custom (optional)">
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-success">Create</button>
                </div>
            </div>
        </form>

        <div class="row">
            <% shortUrls.forEach(shortUrl => { %>
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Full URL</h5>
                        <p class="card-text">
                            <a href="<%= shortUrl.full %>"><%= shortUrl.full %></a>
                        </p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <i class="fas fa-link"></i>
                            Short URL:
                            <a href="<%= shortUrl.short %>"><%= shortUrl.short %></a>
                        </li>
                        <li class="list-group-item">
                            <i class="fas fa-chart-bar"></i>
                            Clicks: <%= shortUrl.clicks %>
                        </li>
                        <li class="list-group-item">
                            <i class="fas fa-calendar-day"></i>
                            Created Date: <%= new Date(shortUrl.createdDate).toLocaleDateString('en-US', { weekday: 'long', year: 'numeric', month: 'short', day: 'numeric' }) %>
                        </li>
                    </ul>
                    <!-- Icon Group for QR Code, Edit, Delete, and Refresh -->
                    <div class="icon-group">
                        <button onclick="downloadQR('<%= shortUrl.full %>')" class="btn btn-link"><i class="fas fa-qrcode"></i></button>
                        <a href="/edit/<%= shortUrl._id %>"><i class="fas fa-edit"></i></a>
                        <button onclick="deleteUrl('<%= shortUrl._id %>')" class="btn btn-link"><i class="fas fa-trash-alt"></i></button>
                        <button onclick="location.reload()" class="btn btn-link"><i class="fas fa-sync-alt"></i></button>
                    </div>
                    <!-- End Icon Group -->
                </div>
            </div>
            <% }) %>
        </div>
    </div>
    

    <script>
        function downloadQR(url) {
            const link = document.createElement("a");
            link.href = `https://api.qrserver.com/v1/create-qr-code/?size=150x150&data=${url}`;
            link.download = "qr-code.png";
            link.click();
        }

        function deleteUrl(urlId) {
            // Send an AJAX request to delete the URL
            fetch(`/shortUrls/${urlId}`, {
                method: 'DELETE',
            }).then(() => {
                // Reload the page after successful deletion
                window.location.reload();
            }).catch(error => console.error('Error deleting URL:', error));
        }
    </script>

</body>
</html>
